#prin{
    
    text-align: center;
    padding:20px;
    margin-left:0;
    
}
body{
    
    
    background-image: url(p1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

