body{
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(b.jpg);
}
.login-box{
    width: 600px;
    height: 500px;
    background: rgba(0,0,0,0.3);
    top: 20%;
    left: 30%;
    position: absolute;
    color: #fff;
    box-sizing: border-box;
}
form{
    text-align: left;
    padding-left: 20%;
}
h1{
    text-align: center;
}